{erl_opts, [debug_info]}.
{deps, [
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy",{tag,"2.9.0"}}},
    {gun, ".*", {git, "https://github.com/ninenines/gun",{tag,"2.0.0"}}},
    {jason, ".*", {git, "https://github.com/crownedgrouse/jason",{tag,"1.2.2"}}},
    {markowitz, ".*", {git, "git@github.com:sklassen/erlang-markowitz.git", {branch, "main"}}} 
]}.

{shell, [
   {config, "config/sys.config"},
   {apps, [fizzy]}
]}.

{relx, [{release, {fizzy, "0.0.1"},
         [kernel,
          sasl,
          fizzy]},
        {dev_mode, true},
        {include_src, true},
        {include_erts, false},
        {extended_start_script, true}]
}.

